[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
